---
layout: default
---

  <div class="section-5">
    <div class="div-block-15">
      <div class="w-row">
        <div class="w-col w-col-8">
          {% for post in site.posts limit:1 %}
          <div>
            <div class="text-block">{{ post.categoria }}</div>
            <h1 class="heading-2">{{ post.titulo }}</h1>
            <div class="div-block-13"><img src="images/Hazel.jpg" alt=""></div>
            <p class="paragraph-2">{{ post.excerpt | truncatewords: 40 }}</p>
            <div>
              <div class="columns w-row">
                <div class="w-col w-col-6"><a href="{{ post.url }}" class="button w-button">ler o post</a></div>
                <div class="w-col w-col-6"></div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="column w-col w-col-4">
          <div class="div-block-3"><img src="images/LOGO-GR.png" alt="" class="image"></div>
          <div class="div-block-10">
            <div class="columns-7 w-row">
              <div class="column-15 w-col w-col-3"><a href="https://www.facebook.com/guiadosroedores/" target="_blank" class="w-inline-block"><img src="images/facebook-f.svg" width="21" height="100" alt="" class="image-4"></a></div>
              <div class="column-16 w-col w-col-3"><a href="https://www.instagram.com/guiadosroedores/" target="_blank" class="w-inline-block"><img src="images/Instagram.svg" width="100" height="100" alt="" class="image-5"></a></div>
              <div class="column-17 w-col w-col-3"><a href="https://www.youtube.com/channel/UCCGyzGoOXpFommV9-r_VNdQ" target="_blank" class="w-inline-block"><img src="images/youtube.svg" width="100" height="100" alt="" class="image-6"></a></div>
              <div class="column-18 w-col w-col-3"><a href="https://chat.whatsapp.com/6ON7Xj7SDvrCJHBQKH49Lc" target="_blank" class="w-inline-block"><img src="images/whatsapp.svg" width="100" height="100" alt="" class="image-7"></a></div>
            </div>
          </div>
          <div>
            <h1 class="heading-3">EQUIPE GR</h1>
            <div class="columns-6 w-row">
              <div class="column-5 w-col w-col-4"><a href="https://www.instagram.com/fabriciovilelaa/" target="_blank" class="link-block-2 w-inline-block"><img src="images/fabricio.jpg" alt="" class="foto-equipe"><div class="text-block-2">Fabrício</div></a></div>
              <div class="column-7 w-col w-col-4"><a href="https://www.instagram.com/lorhannyy/" target="_blank" class="link-block-3 w-inline-block"><img src="images/lo.jpg" alt="" class="foto-equipe"><div class="text-block-2">Lô</div></a></div>
              <div class="column-6 w-col w-col-4"><a href="https://www.instagram.com/educbraga/" target="_blank" class="link-block-4 w-inline-block"><img src="images/edu.jpg" alt="" class="foto-equipe"><div class="text-block-2">Edu</div></a></div>
            </div>
          </div>
          <div>
            <h1 class="heading-3">Instagram</h1>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="section-4">
    <div class="div-block-23">
      <h3 class="heading-6">Outros posts</h3>
      {% for post in site.posts limit: 3 %}
        <div class="column-13 w-col w-col-4">
          <div class="div-block-24">
            <div class="div-block-17"></div>
            <h1 class="heading">{{ post.titulo }}</h1>
            <p class="paragraph">{{ post.excerpt | truncatewords: 40 }}</p><a href="{{ post.url }}" class="button w-button">ler o post</a></div>
        </div>
              {% endfor %}
      </div>
    </div>
  </div>