---
layout: default
---
  <div>
    <div class="w-container">
      <div>
        <div class="text-block">{{ page.categoria }}</div>
        <h1 class="heading-2">{{ page.titulo }}</h1>
        <div class="div-block-11"><img src="{{ root_url }}/images/Hazel.jpg" alt=""></div>
        
        <div class="post">
        </br>
          <p> {{ content }}</p>
        </div>
        <div>
          <div class="columns w-row">
            <div class="column-19 w-col w-col-6"></div>
            <div class="w-col w-col-6"></div>
          </div>
        </div>
      </div>
    </div>
  </div>